#
# dotphiles : https://github.com/dotphiles/dotphiles
#
# Ignore these files globally in this repo.
#

/emacs/emacs.d/elpa/
/emacs/emacs.d/auto-save-list/

emacs/emacs.d/transient/history.el
emacs/emacs.d/.#smex-items
emacs/emacs.d/.lsp-session-v1
emacs/emacs.d/network-security.data
emacs/emacs.d/recentf~
emacs/emacs.d/smex-items
emacs/emacs.d/tramp
vim/.vimrc.swp