[user]
	name = Geoff Wilson
	email = geoff@gr-oss.io
[push]
	default = simple
[core]
	excludesfile = /Users/gewilson/.gitignore_global
	autocrlf = input
	editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[merge]
	tool = meld
[mergetool "p4mergetool"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $PWD/$BASE $PWD/$REMOTE $PWD/$LOCAL $PWD/$MERGED
	trustExitCode = false
[mergetool]
	keepBackup = false
[diff]
	tool = meld
[difftool "p4mergetool"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $LOCAL $REMOTE
[mergetool "meld"]
	cmd = /Applications/Meld.app/Contents/MacOS/meld-bin $PWD/$BASE $PWD/$REMOTE $PWD/$LOCAL $PWD/$MERGED
[difftool "meld"]
	cmd = /Applications/Meld.app/Contents/MacOS/meld-bin $LOCAL $REMOTE
[difftool]
	prompt = false
[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org
[url "git@github.com:"]
	insteadOf = https://github.com
[url "git@bitbucket.org:"]
    insteadOf = https://bitbucket.org/
[url "git@bitbucket.org:"]
    insteadOf = https://api.bitbucket.org/
[url "git@bitbucket.org:"]
    insteadOf = https://bitbucket.org/
[url "git@bitbucket.org:"]
    insteadOf = https://api.bitbucket.org/
[url "git@bitbucket.org:"]
    insteadOf = https://bitbucket.org/
[url "git@bitbucket.org:"]
    insteadOf = https://api.bitbucket.org/
